*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.hero{
    background: #1d2026;
    color: white;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 24px 8%;
}
nav .manu-img{
    width: 60px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 200px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-size: 20px;
}
nav ul li a:hover{
    color: orange;
}
button{
    border-radius: 30px;
    width: 59px;
    height: 29px;
    outline: 0;
    border: 0;
    background: #efefef;
    cursor: pointer;
}
button span{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #999;
    display: block;
    margin-left: 2px;
}
.light-container{
    position: absolute;
    top: -5px;
    left: 22%;
    width: 200px;
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;

}
.text-container{
    max-width: 650px;
    margin-top: 6%;
    margin-left: 50%;
}
.text-container h1{
    font-weight: 400;
    font-size: 80px;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: white;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 20px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 280px;
}
.control .line{
    width: 200px;
    height: 10px;
    background: white;
    border-radius: 5px;
    margin: 0 20px;
}
.control .line span{
    width: 50%;
    height: 10px;
    display: block;
    background: #00986f;
    border-radius: 7px;
    cursor: grab;
}
.active{
    background: green;
}
.active span{
    background: white;
    margin-left: 31px;
}
.on{
    opacity: 1;
}



